body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
    color: aqua;
    
}
#style{
    color: mediumslateblue;
}
h2{
    font-size: 28px;
}
.color{
    color:indianred;
}
.FLEXIBLE{
    display: flex;
}
.width{
      width: 50;
      padding-left: 10%;
      padding-top: 5%;
}
#img{
    padding-right:10%;
}
.link-style{
    text-decoration: none;
    background-image: linear-gradient( tomato , orange);
    padding: 8px 35px;
    border-radius: 20px;
}
.frame{
    background-image: url("Frame c.jpg");
    
}
.background{
    background-image: url("Frame d.jpg");
    background-position:right ;
  
}
#side{
    padding-right: 30px;
}
.ALIGN{
    text-align: center;
    color: lightcoral;
}
#center{
    text-align: center;
}
.design{
    color: maroon;
}
.shadow-box{
    width: 30%;
    margin-left: 8%;
    margin-right: 8%;
    padding: 20px;
  
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey ;
    border: 5PX SOLID gray;
    
}
#move{
    padding-right: 20px;
}
.radias{

    border-radius: 10px;
}

